

<div class="wrapper-index">
  <div class="banner-index" style="background-image: url('http://cdn.liquor.com/wp-content/uploads/2015/03/placeholder_background.jpg'); background-size: cover; background-position: center center;">
    <div>
    <h4> Open Cocktail database </h4>
    <p> The smallest, most ridiculous collection of party cocktails ever seen. Please help out </p>
    <div class="button-home">
    <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
    </div>
    </div>

  </div>
</div>
<div class="separator text-center">
  Cocktail list
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>

    <div class="col-sm-3">
    <%= link_to cocktail, class: 'link' do%>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>' );">
          <div>
            <h4 class='card-description'> <%= cocktail.name %></h4>
          </div>

        </div>
    <% end %>



    </div>
    <% end %>

  </div>
</div>

<div class="separator text-center">
<%= link_to "Add a new Cocktail", new_cocktail_path %>
</div>
