
<div class="container-details">
  <div class="row">
    <div class="col-sm-6 text-center">

      <h3> Details for <%= @cocktail.name %></h3>

      <ul class='list-unstyled'>
        <% @cocktail.doses.each do  |dose| %>

        <li> <%= dose.description %> of <%= dose.ingredient.name %>
         <%=  link_to "Delete Dose", dose_path(dose), method: :delete %></li>
         <% end %>
       </ul>
     </div>
    <div class="col-sm-6">
      <% if @cocktail.photo? %>
        <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
    </div>
   </div>
</div>
<a> Add new dose</a>
<div class="banner-index text-center">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <h4> <%= "Add a new dose to #{@cocktail.name}" %> </h4>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.button :submit %>
  <% end %>
  <%#= simple_form_for @cocktail do |f| %>
    <%#= f.input :photo, as: :attachinary %>
    <%#= f.button :submit %>
  <%# end %>

</div>

<div class="separator">
  <%=  link_to "Back to Home", root_path, class: "btn btn-primary" %>

</div>
